{% extends "base.html" %}

{% block content %}
<div class="container">
  <section class="vh-50 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-5 col-xl-5">
          <div class="card bg-light" style="border-radius: 1rem;">
            <div class="card-body p-3 text-center">
              <div class="row justify-content-center mb-md-5 mt-md-4 pb-1">
                <h2 class="fw-bold mb-2 text-uppercase">Request Password Reset</h2>
                <div class="col-md-6">
                  <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.password.label(class="form-label text-black") }}
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    {{ form.password2.label(class="form-label text-black") }}
                    {{ form.password2(class="form-control") }}
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    {{ form.submit(class="btn btn-dark") }}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}