{% extends "base.html" %}

{% block content %}    
<div class="d-flex justify-content-center">
    <div class="card text-center border border-primary shadow-0 col-md-7 col-sm-10 col-xs-10">
        <div class="card-header">User Roles:</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="" method="POST">
                        {{ search_form.hidden_tag() }}
                    
                        {{ search_form.username.label(class="form-label") }}
                        {{ search_form.username(class="form-control") }}
                        {% for error in search_form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        {{ search_form.submit1(class="btn btn-dark m-3") }}
                    </form>
                </div>
                <div class="col-md-2" style="text-align: center;">
                    <p>First Name:</p>
                    <p>Last Name:</p>
                    <p>User Roles:</p>
                </div>
                <div class="col-md-2" style="text-align: left;">
                    {% if user %}
                    <p>{{ user.first_name }}</p>
                    <p>{{ user.last_name }}</p>
                    {% for role in user.roles %}
                    <p>{{ role.name.capitalize() }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <p>Current Roles:</p>
                    <form action="" method="POST">
                        {{ roles_form.hidden_tag() }}

                        {{ roles_form.staff() }}
                        {{ roles_form.staff.label(class="form-label")}}
                        <br>
                        {{ roles_form.sport_oic() }}
                        {{ roles_form.sport_oic.label(class="form-label")}}
                        <br>
                        {{ roles_form.admin() }}
                        {{ roles_form.admin.label(class="form-label")}}
                        <br>
                        {{ roles_form.submit2(class="btn btn-dark m-3") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}