{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome, {{ user.username }}</h1>
    {% if posts %}
        {% for post in posts %}
        <div class="card mt-4">
            <h5 class="card-header">{{ post.title }}</h5>
            <div class="card-body">
              <h5 class="card-title">{{ post.body }}</h5>
              <p class="card-text">Date posted: {{ post.date }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}