{% extends "base.html" %}

{% block content %}
<div class="section" style="background-color: #feffff;">
  <div class="container">
    <!-- Jumbotron -->
    <div class="text-center bg-image" style="
            background-image: url('{{ sport.img_src }}');
            height: 300px;
        ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">{{ sport.name.capitalize() }}</h1>
            <h4 class="mb-3">{{ sport.description }}</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Tabs -->

    <!-- Tabs navs -->
    <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex-with-icons-tab-1" data-mdb-toggle="tab" href="#ex-with-icons-tabs-1"
          role="tab" aria-controls="ex-with-icons-tabs-1" aria-selected="true"><i
            class="fas fa-images fa-fw me-2"></i></i>Gallery</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex-with-icons-tab-4" data-mdb-toggle="tab" href="#ex-with-icons-tabs-4" role="tab"
          aria-controls="ex-with-icons-tabs-4" aria-selected="true"><i
            class="fas fa-images fa-fw me-2"></i></i>Posts</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab" href="#ex-with-icons-tabs-2" role="tab"
          aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i
            class="fas fa-info fa-fw me-2"></i></i>Information</a>
      </li>
      {% if "sport_oic" in current_user.get_permissions() or "admin" in current_user.get_permissions() %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex-with-icons-tab-3" data-mdb-toggle="tab" href="#ex-with-icons-tabs-3" role="tab"
          aria-controls="ex-with-icons-tabs-3" aria-selected="false"><i class="fas fa-cogs fa-fw me-2"></i>Edit
          Page</a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content" id="ex-with-icons-content">
      <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel"
        aria-labelledby="ex-with-icons-tab-1">
        Tab 1 content
      </div>
      <!-- Posts -->
      <div class="tab-pane fade" id="ex-with-icons-tabs-4" role="tabpanel" aria-labelledby="ex-with-icons-tab-4">
        <div class="section mt-3">
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Featured post</h3>
                  <div class="mb-1 text-muted">Nov 12</div>
                  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p>
                  <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                      dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Post title</h3>
                  <div class="mb-1 text-muted">Nov 11</div>
                  <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p>
                  <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                      dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Information -->
      <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
        <p><strong>Sport's OIC:</strong> {{ sport.sport_oic}}</p>
        <p><strong>OIC email:</strong> {{ sport.sport_oic_email}}</p>
        <p><strong>Location:</strong> {{ sport.location}}</p>
        <p><strong>Timing:</strong> {{ sport.timing}}</p>
        <p><strong>Capacity:</strong> {{ sport.get_user_sign_ups() }}/{{ sport.capacity}}</p>
        {% if current_user.is_authenticated %}
        {% if sport.get_user_sign_ups() == sport.capacity and current_user.sport_id != sport.id %}
        <button type="button" class="btn btn-dark disabled mb-3" disabled>Sport is full</button>
        {% else %}
        <a href="{{ url_for('sign_up_to_sport', name=sport.name) }}"><button type="button" class="btn btn-dark mb-3">
            {% if current_user.sport_id == sport.id %}
            Cancel Sign Up
            {% else %}
            Sign Up Now
            {% endif %}
          </button></a>
        {% endif %}
        {% endif %}

      </div>
      <!-- Edit Page -->
      <div class="tab-pane fade" id="ex-with-icons-tabs-3" role="tabpanel" aria-labelledby="ex-with-icons-tab-3">
        <form action="" method="POST">
          {{ form.hidden_tag() }}

          {{ form.description.label(class="form-label") }}
          {{ form.description(class="form-control") }}
          {% for error in form.description.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <br>
          {{ form.sport_oic.label(class="form-label") }}
          {{ form.sport_oic(class="form-control") }}
          {% for error in form.sport_oic.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <br>
          {{ form.sport_oic_email.label(class="form-label") }}
          {{ form.sport_oic_email(class="form-control") }}
          {% for error in form.sport_oic_email.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <br>
          {{ form.location.label(class="form-label") }}
          {{ form.location(class="form-control") }}
          {% for error in form.location.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <br>
          {{ form.timing.label(class="form-label") }}
          {{ form.timing(class="form-control") }}
          {% for error in form.timing.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <br>
          {{ form.capacity.label(class="form-label") }}
          {{ form.capacity(class="form-control") }}
          {% for error in form.capacity.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <br>
          {{ form.img_src.label(class="form-label") }}
          {{ form.img_src(class="form-control") }}
          {% for error in form.img_src.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <br>
          {{ form.submit(class="btn btn-dark mb-5") }}
        </form>

      </div>
    </div>
    <!-- Tabs content -->
  </div>
</div>

{% endblock %}